.první{background-color:darkolivegreen;color: white;
    padding: 10px;margin: 40px;
}
.druhý{background-color: darkslategray;color: white;
padding: 20px;
}
.třetí{background-color: darkolivegreen;color: white;
padding: 10px;margin: 40px;
}
.čtvrtý{background-color: darkslategray;color: white;
padding: 20px;
}
.patý{background-color: darkolivegreen;color: white;
padding: 10px;margin: 40px;
}
.šestý{background-color: darkslategray;color: white;
padding: 20px;
}
.sedmý{font-family: fantasy;color: white;background-color: dimgrey;}